.compare-page{
    margin:5vh;
    display:flex;
    /* flex-direction: column; */
    align-content: space-around;
    flex-wrap:wrap;
    justify-content: center;

}

.values{
    padding:5vh;
    margin: 5vh;
    display:flex;
    flex-direction: column;
    align-content: space-around;
   
}

.value{
    padding:5vh;
    
}

.projects{
    padding: 5vh;
    margin:5vh;
    width:30%;
    display:flex;
    flex-direction:column;
    align-content: space-around;
}

.project{
    padding:3vh;
    font-size:1.5rem;
}