.compare{
    font-family: 'Open Sans Condensed', sans-serif;
}

.compare-page{
    font-family: 'Open Sans Condensed', sans-serif;
    margin:5vh;
    display:flex;
    /* flex-direction: column; */
    align-content: space-around;
    flex-wrap:wrap;
    justify-content: center;

}

.values{
    padding:5vh;
    margin: 5vh;
    display:flex;
    flex-direction: column;
    align-content: space-around;
   
}

.value{
    padding:5vh;
    
}

.projects{
    padding: 5vh;
    margin:5vh;
    width:30%;
    display:flex;
    flex-direction:column;
    align-content: space-around;
}

.project{
    padding:3vh;
    font-size:1.2rem;
}

.compare-title{
    margin: 4vh;
    font-size: 1.6rem;
    text-align:center;
}

.title-container{
    margin:5vh;
}

.reset{
    background-color: #ACC1D2;
    color: white; 
        border: none;
        padding: 15px;
        width: 180px;
        height: 70px;
        margin: 20px;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1.2rem;
        border-radius: 5%;
    float:right;
}

