.main-div {
    /* background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
     */
}

header {
    display: flex; 
}