*{
    background-color: #F4F4EC;
}

.button-container{
    margin:5vh;
    display:flex;
    justify-content: space-around;
}

.button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:2rem;
    color: #E2E8E8;
    background-color: #1C7980;
    padding:20px 60px;
}

.descript-container{
    display:flex;
    justify-content: center;
}

.value-descript{
    font-size:1.75rem;
    font-family: 'Open Sans Condensed', sans-serif;
    margin:5vh;
    text-align:center;
    width:50%;
}

.values-form{
    margin:3vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:1.5rem;
    margin:3vh;
}

.text-box{
    height:200px;
    width:400px;
    background-color: #fff;
}

.submit-button{
    background-color: #ACC1D2;
    font-size: 1.25rem;
    padding:10px 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 3vh;
}